<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30">

	<Properties>
		<Property name="LOG_PATTERN">
			%d{${LOG_DATEFORMAT_PATTERN:-dd-MM-yyyy HH:mm:ss.SSS}},  %highlight{${LOG_LEVEL_PATTERN:-%5p}},  %style{${sys:PID}}{red},  [%25.25t],  %style{%-40.40C{1.}}{} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}
		</Property>
	</Properties>

	<Appenders>

		<Console name="ConsoleAppender" target="SYSTEM_OUT"
			follow="true">
			<PatternLayout disableAnsi="false"
				pattern="%d{${LOG_DATEFORMAT_PATTERN:-dd-MM-yyyy HH:mm:ss.SSS}},  %highlight{${LOG_LEVEL_PATTERN:-%5p}},  %style{${sys:PID}}{red},  [%25.25t],  %style{%-40.40C{1.}}{} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />
		</Console>

		<RollingFile name="FileAppender" fileName="logs/aceg.log"
			filePattern="logs/aceg-%d{dd-MM-yyyy}-%i.log">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="com.example.log4j2demo" level="info"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Root>
	</Loggers>

</Configuration>